{% extends 'layout.html' %}

{% block body %}


<br>
<form method="POST" action="/" >
    <div class="form-group">
    <!-- <label for="formGroupExampleInput"></label>
    <input type="text" class="form-control" name="usercommand" id="formGroupExampleInput" placeholder="jmeter -n">
        <input type="submit" value="Submit"/>
    -->
        <div class="input-group mb-3">
          <input type="text" name="usercommand" class="form-control" placeholder="e.g. -n or -t or -v. No need to enter 'jmeter'." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">EXPLAIN</button>
          </div>
        </div>
    </div>
</form>
{% endblock %}